body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #237c29;
}

.container {
    width: 300px;
    height: 410px;;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: center;
}

.form-group {
    margin: 10px 0  0 25px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

input {
    height: 20px;
    width: 100px;
    border: 1.5px solid #237c29;
    border-radius:5px;
}

.form-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: #34b53d;
  }

.expense {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
